<aside class="p-3 open">
  <h5><i class="fa-solid fa-cog fa-fw"></i> Config</h5>
  <hr/>
  <button class="btn close">
    <i class="fa-solid fa-times fa-fw"></i>
  </button>
  <div class="card mb-2">
    <div class="card-body">
      <p>This is the config aside menu</p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5><i class="fa-solid fa-cog fa-fw"></i> Config</h5>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam id arcu cursus, vulputate nunc vitae, semper justo.
        Praesent eget accumsan libero. Aliquam dictum turpis dui, quis luctus tellus egestas ac. Sed lobortis tempor
        dictum. Donec at pretium augue, sed dictum nisi. Aenean velit elit, porttitor volutpat dolor nec, volutpat
        pellentesque enim. Nunc ultrices molestie massa, eu finibus magna sodales ut. Maecenas sit amet sapien sit amet
        est bibendum ultrices. Quisque a nibh efficitur, porttitor lacus at, ultricies nulla. Mauris hendrerit est
        ullamcorper, dapibus lacus eu, facilisis nisi. Fusce pellentesque luctus sollicitudin. Integer dictum ornare
        lacus at eleifend. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </div>
</aside>

